.author-descr {
    &.lk {
        .author-descr__row {
            .author-descr__column {
                &:first-child {
                    row-gap: 8.8rem;
                }
            }
        }
    }

    &__container {
        position: relative;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .author-descr__column {
            display: flex;
            flex-direction: column;

            &:first-child {
                row-gap: 9.4rem;
            }

            &:nth-child(2) {
                align-items: flex-end;
                row-gap: 7.4rem;
            }
        }
    }

    &__title {
        padding-top: 2.3rem;
        font-size: 6rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__logo {
        width: 10.9rem;
        height: 10.9rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__projects {
        &-count {
            font-size: 1.8rem;
            font-weight: 300;

            span {
                font-weight: 600;
            }
        }
    }

    &__name {
        text-align: right;
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__info {
        .author-descr__name {
            margin-bottom: 0.9rem;
        }

        .author-descr__projects-count {
            text-align: right;
        }
    }

    .page-descr__lines {
        top: 14rem;
    }

    @media (max-width: 48em) {
        &.lk {
            .author-descr__row {
                .author-descr__column {
                    &:first-child {
                        row-gap: 13.4rem;
                    }
                }

                .author-descr__projects {
                    flex-direction: row-reverse;
                    align-items: center;

                    &-count {
                        width: 20rem;
                    }
                }

                .author-descr__projects-buy {
                    display: none;
                }
            }
        }

        &__row {
            flex-direction: column-reverse;
            row-gap: 5.4rem;

            .author-descr__column {
                width: 100%;

                &:first-child {
                    row-gap: 10.4rem;
                }

                &:nth-child(2) {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }
            }
        }

        &__name {
            font-size: 4rem;
            width: 34.6rem;
        }

        &__logo {
            width: 30.2rem;
            height: 30.2rem;
        }

        &__title {
            padding: 0;
            text-align: right;
            font-size: 12rem;
        }

        &__projects {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &-count {
                font-size: 3rem;
            }

            &-buy {
                width: 34.8rem;
                text-align: right;
                font-size: 3rem;
                font-weight: 500;
            }
        }

        .page-descr__lines {
            top: 56.8rem;
        }
    }

    &.lk-main {
        margin-bottom: 16rem;
        .author-descr__settings {
            display: flex;
            gap: 1.8rem;
            align-items: center;
        }
        .author-descr__settings_list {
            display: flex;
            flex-direction: column;
            gap: 2.3rem;

            &.mobile {
                display: none;
            }
        }
        .author-descr__settings_item {
            display: flex;
            align-items: center;
            gap: 2rem;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: fit-content;
            margin-left: auto;
            cursor: pointer;

            svg {
                width: 1.8rem;
                height: 1.3rem;
            }
        }
    }
}
@media (max-width: 48em) {
    .author-descr {
        &.lk-main {
            margin-bottom: 16rem;
            .author-descr__settings {
                display: flex;
                gap: 1.8rem;
                align-items: center;
            }
            .author-descr__settings_list {
                display: flex;
                flex-direction: column;
                gap: 2.3rem;
    
                &.mobile {
                    display: flex;
                }
                &.desktop {
                    display: none;
                }
            }
            .author-descr__settings_item {
                display: flex;
                align-items: center;
                gap: 2rem;
                font-size: 3rem;
                margin-left: auto;
                cursor: pointer;
    
                svg {
                    width: 2.4rem;
                    height: 1.8rem;
                }
            }
            .author-descr__projects-count {
                margin-top: auto;
                text-transform: capitalize;
            }
        }
    }
}