.baner {
    background: #2B2D30;
    padding-bottom: 2.6rem;

    &__info {
        &_swiper {
            margin-bottom: 10rem;
        }
        
        &_slide {
            &.swiper-slide {
                display: grid;
                align-items: center;
                gap: 2rem;
                grid-template-columns: 99rem 1fr;
            }
        }
        &_title {
            color: #FFF;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            grid-column: 1;
        }
        &__container {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1.5rem;
            grid-column: 2;
        }
        &__price {
            color: #FFF;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            span {
                color: #E1E046;
            }
        }
        &__pages {
            color: #FFF;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            span {
                font-weight: 700;
            }
        }
        &__tag {
            color: #969696;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__btns {
            display: flex;
            gap: 1.5rem;
            margin-left: auto;
        }
        &__btn {
            cursor: pointer;
            
            svg {
                width: 5.9rem;
                height: 5.9rem;
            }
        }
    }
    &__container {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        margin-bottom: 2.6rem;
    }
    &__small_swiper {
        width: 26.5rem;
        height: 51.5rem;
        flex: none;

        .swiper-slide {
            width: 26.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__big_swiper {
        width: calc(100% - 29.7rem);
        height: 71.9rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__big_tab {
        display: flex;
        gap: 1.2rem;

        .swiper-pagination-bullet {
            flex: 1;
            border-radius: 9rem;
            border: 0.1rem solid #969696;
            height: 0.9rem;
            
            &.swiper-pagination-bullet-active {
                background: #969696;
            }
        }
    }
}

@media (max-width: 48em) {
    .baner {
        background: #2B2D30;
        padding-bottom: 5rem;
    
        &__info {
            &_swiper {
                margin-bottom: 8rem;
            }
            
            &_slide {
                &.swiper-slide {
                    gap: 8rem;
                    column-gap: 0;
                    grid-template-columns: 37.6rem 1fr;
                }
            }
            &_title {
                font-size: 3rem;
                width: 56rem;
                grid-column: 1/3;
            }
            &__container {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                grid-column: 1;
            }
            &__price {
                font-size: 3rem;
            }
            &__pages {
                font-size: 3rem;
            }
            &__tag {
                font-size: 3rem;
                grid-column: 1;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                grid-column: 1/3;
            }
            &__btns {
                display: flex;
                gap: 1.5rem;
                margin-left: auto;
                grid-column: 2;
                grid-row: 2;
            }
            &__btn {
                cursor: pointer;
                
                svg {
                    width: 8.2rem;
                    height: 8.2rem;
                }
            }
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            align-items: unset;
            gap: 1.6rem;
            margin-bottom: 6rem;
        }
        &__small_swiper {
            width: 100%;
            height: 23rem;
        }
        &__big_swiper {
            flex: unset;
            width: 100%;
            height: 56.6rem;
        }
        &__big_tab {
            display: none;
        }
        &__big_pagination {
            display: flex;
            align-items: center;
            gap: 6rem;
            width: fit-content;
            margin: auto;
        }
        &__big_number {
            display: flex;
            align-items: center;
            gap: 6.4rem;
            font-size: 2.6rem;
            font-style: normal;
            line-height: normal;

            &_real {
                color: #FFF;
                font-weight: 600;
            }
            &_all {
                color: #969696;
                font-weight: 400;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 3.2rem;
                    height: 0.3rem;
                    background: #969696;
                    border-radius: 50%;
                    left: -4.8rem;
                    top: 50%;
                }
            }
        }
    }
}