.basket {
  padding: 16rem 0;
		&__item {
      padding: 3.6rem 0;
      display: flex;
      gap: 6rem;
      border-bottom: 0.1rem solid $gray;
      &:first-child {
        border-top: 0.1rem solid $gray;
      }

      &-content {
        padding-top: 4.3rem;
      }
		}
		&__img {
      width: 48.5rem;
      height: 29.5rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
		}
		&__cost {
      margin-bottom: 2.5rem;
      & span {
        font-size: 3.5rem;
        font-weight: 600;
      }
		}
		&__desc {
      &-wrap {
        display: flex;
        margin-bottom: 9.5rem;
        gap: 4rem;
      }
      & span {
        font-weight: 700;
      }
		}
		&__btn {
      color: $gray;
      flex-direction: row-reverse;
      column-gap: 0.6rem;

      span {
        color: $gray;
      }
		}

		&__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 3.9rem;
      .btn-link {
        color: $black;
        gap: 2.9rem;
        &__arr-circle {
          background-color: $black;
        }
      }
		}
    &__total {
      color: $black;
      font-family: 'Euclid Circular A';
      font-size: 3rem;
      font-weight: 300;
      line-height: normal;
      & span {
        font-weight: 700;
      }
    }
}

@media (max-width: 48em) {
  .basket {
    padding: 22rem 0;
      &__item {
        padding: 4rem 0;
        gap: 3.8rem;
        border-bottom: 0.2rem solid $gray;
        &:first-child {
          border-top: 0.2rem solid $gray;
        }

        &-content {
          padding-top: 0;
        }
      }
      &__img {
        width: 33rem;
        height: 20rem;
      }
      &__cost {
        margin-bottom: 2.8rem;
        & span {
          font-size: 3rem;
          font-weight: 600;
        }
      }
      &__desc {
        &-wrap {
          flex-direction: column;
          margin-bottom: 2.8rem;
          gap: 0rem;
        }
      }
      &__bottom {
        display: none;
      }
      &__button {
        // width: 100%;
        position: fixed;
        left: 4.2rem;
        bottom: 6rem;
        width: 69.6rem;
        display: flex;
        align-items: center;
        font-size: 4rem;
        gap: 4rem;
        padding: 4rem;
        border-radius: 20rem;
        background-color: $black;
        color: $white;
        margin-top: 7rem;
        & span {
          font-weight: 700;
        }
      }

      &__btn {
        column-gap: 1.14rem;
      }
  }
}