.filtres {
    margin-bottom: 10.5rem;

    & + .projects-list {
        padding-top: 0;
    }

    &__row {
        display: flex;
        align-items: center;
        column-gap: 4.8rem;
    }

    @media (max-width: 48em) {
        margin-bottom: 12rem;

        &__row {
            flex-wrap: wrap;
            row-gap: 5rem;
        }
    }
}