.footer {
    padding: 3.5rem 0;
    border-top: 0.1rem solid #969696;
    background: #2B2D30;
    color: #FFF;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -3.7rem;
    }
    &_logo {
        width: 35.9rem;
        height: 22.8rem;
        margin-left: -8.8rem;
    }
    &__list {
        display: flex;
        justify-content: space-evenly;
        width: 60rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 7.5rem;
    }
    &__load {
        display: flex;
        align-items: center;
        gap: 2.6rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 7.5rem;
        cursor: pointer;

        svg {
            width: 5.9rem;
            height: 5.9rem;
        }
    }
    &__line {
        width: 100%;
        height: 0.1rem;
        background: #393C40;
        margin-bottom: 6rem;
        position: relative;
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btns {
        display: flex;
        gap: 1rem;

        svg {
            width: 4.8rem;
            height: 4.8rem;
        }
    }
    &__terms {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__RD {
        svg {
            width: 18.9rem;
            height: 4.4rem;
        }
    }
}

@media (max-width: 48em) {
    .footer {
        padding: 0rem 0 7rem;
        border-top: 0.2rem solid #969696;
    
        &__top {
            display: flex;
            flex-direction: column;
            margin-bottom: 11.6rem;
        }
        &_logo {
            width: 42.9rem;
            height: 32.8rem;
            margin-left: 0;
            margin-bottom: 12rem;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 5rem;
            width: auto;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 12rem;
        }
        &__load {
            display: flex;
            align-items: center;
            gap: 1.9rem;
            font-size: 3rem;
            margin-bottom: 0;
    
            svg {
                width: 8.6rem;
                height: 8.6rem;
            }
        }
        &__line {
            height: 0.2rem;
            margin-bottom: 12rem;
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btns {
            display: flex;
            gap: 2rem;
            margin-bottom: 5rem;
    
            svg {
                width: 8.6rem;
                height: 8.6rem;
            }
        }
        &__terms {
            font-size: 3rem;
            margin-bottom: 12rem;
        }
        &__RD {
            svg {
                width: 37.4rem;
                height: 9rem;
            }
        }
    }
}