.header {
    &.header_black {
        color: #FFF;

        .header_logo_white {
            display: none;
        }
        .header_logo_black {
            display: block;
        }
        .header__menu_item {
            &::before {
                background: #E1E046;
            }
        }
        .header__btn_item {
            svg {
                .change-stroke {
                    stroke: #FFFFFF;
                }
                .change-fill {
                    fill: #FFFFFF;
                }
            }
        }
    }
    .header_logo_black {
        display: none;
    }
    .container {
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }
    &_logo {
        width: 35.9rem;
        height: 22.8rem;
    }
    &__menu {
        margin-top: 6.8rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        width: 82.1rem;
        justify-content: space-evenly;

        &-head {
            display: none;
        }

        &_item {
            &.active {
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 2.7rem;
                    height: 0.3rem;
                    border-radius: 5px;
                    background: #F1000E;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -0.8rem;
                }
            }
        }
    }
    &__btns {
        margin-top: 5rem;
        display: flex;
        gap: 0.8rem;
    }
    &__btn {
        &_main {
            width: 5.9rem;
            height: 5.9rem;
        }
        &_item {
            svg {
                width: 5.9rem;
                height: 5.9rem;

                .change-stroke {
                    stroke: #2B2D30;
                }
                .change-fill {
                    fill: #2B2D30;
                }
            }
        }
    }
}

@media (max-width: 48em) {
    .header {
        &.header_black {
            .header__burger {
                span {
                    background: #FFF;
                }
            }
            .header_logo_black {
                opacity: 1;
            }
            // .header__menu-logo {
            //     img.white {
            //         display: none;
            //     }
            //     img.black {
            //         display: block;
            //     }
            // }
        }
        .header_logo_white {
            transition: opacity 0.5s ease-in-out;
            width: 50.9rem;
        }
        .header_logo_black {
            display: block;
            opacity: 0;
            top: -11.5rem;
        }
        .container {
            display: flex;
            // align-items: center;
            justify-content: space-between;

            &.active {
                color: #FFF;
                // .header__burger span {
				// 	&:nth-child(1) {
				// 		transform: rotate(45deg);
				// 		top: 2.8rem;
				// 		right: 0.6rem;
				// 	}

				// 	&:nth-child(2) {
				// 		width: 0%;
				// 		opacity: 0;
				// 	}

				// 	&:nth-child(3) {
				// 		transform: rotate(-45deg);
				// 		top: 2.8rem;
				// 		right: 0.6rem;
				// 	}
				// }
                .header__box {
					transform: translateY(0);
				}
                // .header_logo_black {
                //     opacity: 1;
                // }
                // .header_logo_white {
                //     opacity: 0;
                // }
                .header__burger {
                    span {
                        background: #FFF;
                    }
                }
            }
        }
        &__burger {
            width: 5rem;
            height: 6rem;
            position: relative;
            z-index: 5;
            border-radius: 50%;
            transition: background 0.5s ease-in-out;
            margin-top: 4.6rem;
            margin-right: 2rem;

            span {
                background: #2B2D30;
                transition: 0.25s ease-in-out;
                position: absolute;
                transform: rotate(0deg);
                width: 100%;
                // background: #292929;
                opacity: 1;
                height: 0.3rem;
                right: 0;

                &:nth-child(1) {
                    top: 1.6rem;
                }
                &:nth-child(2) {
                    top: 2.8rem;
                }
                &:nth-child(3) {
                    top: 4rem;
                }
            }
        }
        &_logo {
            width: 42.9rem;
            height: 32.8rem;
            position: absolute;
            z-index: 5;
            margin: auto;
            left: 0;
            right: 0;
        }
        &__menu {
            margin-top: 0;
            font-size: 3rem;
            display: flex;
            width: auto;
            flex-direction: column;
            gap: 4rem;
            text-transform: unset;
    
            &_item {
                &.active {
    
                    &::before {
                        content: unset;
                    }
                }
            }

            &-logo {
                width: 42.9rem;
                height: 32.8rem;
                margin-top: -11.5rem;

                // img.black {
                //     display: none;
                // }
            }

            &-head {
                display: flex;
                justify-content: flex-start;
                column-gap: 9.8rem;
            }

            &-close {
                padding-top: 5.8rem;
            }
        }
        &__btns {
            margin-top: 4rem;
            display: flex;
            gap: 0.8rem;
        }
        &__btn {
            &_main {
                width: 7.4rem;
                height: 7.4rem;
            }
            &_item {
                svg {
                    width: 7.4rem;
                    height: 7.4rem;
                }
            }
        }
        &__box {
            position: fixed;
			left: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: unset;
			justify-content: unset;
			flex: 1;
			width: 100%;
			height: 100vh;
			gap: 0;
			background: #2B2D30;
			transform: translateY(-150%);
			padding: 0rem 4.2rem 5rem;
			transition: transform 0.75s ease-in-out;
            z-index: 5;

            &s {
                overflow: auto;
            }

            &_title {
                color: #969696;
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                margin-bottom: 4rem;
            }

            .header__btns {
                display: flex;
                flex-direction: column;
                gap: 4rem;
                margin-bottom: 16rem;
            }

            .header__btn {
                &_item {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    
                    svg {
                        width: 8.2rem;
                        height: 8.2rem;
                    }
                }
            }
        }
    }
}