.lk-tabs {
    padding: 9.2rem 0 10.2rem 0;

    & + .lk-blocks {
        padding-top: 0;

        .lk-blocks__block-content {
            padding: 0;
        }
    }

    &__row {
        display: flex;
    }

    &__item {
        cursor: pointer;
        flex: 0 0 50%;
        text-align: center;
        padding: 1.3rem 0;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $black;
        background-color: $white;
        border: 1px solid $black;

        &.active {
            position: relative;
            color: $white;
            background-color: $black;
            border: none;
        }
    }

    @media (max-width: 48em) {
        padding: 13.4rem 0 14.4rem 0;

        &__row {
            padding-bottom: 0;
        }

        &__item {
            padding: 2.8rem 0 3.2rem 0;
            font-size: 3.2rem;
        }
    }
}