.lk-blocks {
    padding: 14.7rem 0;

    &__block {
        display: none;

        &-content {
            padding-top: 7.8rem;
        }

        &.active {
            display: block;
        }

        &.empty {
            margin-top: 4.5rem;

            &.bought {
                .lk-blocks__block-empty_img {
                    left: calc(100% - 119.2rem);
                    width: 85rem;
                    height: 37rem;

                    img {
                        mix-blend-mode: lighten;
                    }
                }
            }

            &.uploaded {

                .lk-blocks__block-empty_img {
                    width: 49.1rem;
                    height: 61.6rem;
                    left: calc(100% - 95rem);
                    top: -11.1rem;
                }
            }

            .lk-blocks__block-content {
                display: none;
            }

            .lk-blocks__block-empty {
                display: flex;
            }
        }

        &-empty {
            display: none;
            align-items: center;
            justify-content: space-between;
            position: relative;
            height: 37rem;
            padding: 0rem 10.5rem;
            background-color: $black;
            color: $white;

            &_title {
                width: 30.5rem;
                font-size: 3rem;
                font-weight: 500;
                text-transform: uppercase;
            }

            &_link {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 2.8rem;

                div {
                    &:first-child {
                        width: 3.1rem;
                        height: 3.5411rem;
                    }

                    &:last-child {
                        width: 23.6rem;
                        text-align: right;
                        font-size: 1.8rem;
                        font-weight: 300;
                    }
                }
            }

            &_img {
                position: absolute;
                top: 0;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 30rem;

        .container {
            overflow-x: clip;
        }

        &__block {
            &.empty {
                margin-top: 14.8rem;

                &.bought {
                    .lk-blocks__block-empty {
                        justify-content: flex-start;
                    }

                    .lk-blocks__block-empty_title {
                        width: 42rem;
                    }

                    .lk-blocks__block-empty_link {
                        div {
                            &:last-child {
                                width: 29.6rem;
                            }
                        }
                    }

                    .lk-blocks__block-empty_img {
                        width: auto;
                        height: min-content;
                        left: 0rem;
                        top: 33rem;
                    }
                }

                &.uploaded {
                    .lk-blocks__block-empty {
                        justify-content: flex-end;
                    }

                    .lk-blocks__block-empty_title {
                        width: auto;
                    }

                    .lk-blocks__block-empty_link {
                        div {
                            &:last-child {
                                width: 39.2rem;
                            }
                        }
                    }

                    .lk-blocks__block-empty_img {
                        width: 68rem;
                        height: 85.4rem;
                        left: 8.8rem;
                        top: -15.8rem;
                    }
                }
            }

            &-empty {
                flex-direction: column;
                align-items: flex-start;
                width: 69.6rem;
                height: 113.2rem;
                padding: 12rem 4rem;
                row-gap: 7rem;

                &_title {
                    font-size: 4rem;
                }

                &_link {
                    flex-direction: row;
                    column-gap: 4rem;

                    div {
                        &:first-child {
                            width: 5.6028rem;
                            height: 6.4rem;

                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        &:last-child {
                            text-align: left;
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }
}