.project-page {
  background: $black;
  padding-top: 3.5rem;
  padding-bottom: 8.1rem;
		&__top {
      width: 100%;
      margin-bottom: 5.6rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
		}
    &__text-wrap {
      width: 90%;
      display: inline-flex;
      align-items: center;
      margin-bottom: 1.2rem;
      & p {
        font-family: 'Euclid Circular A';
        font-size: 3rem;
        font-weight: 300;
        line-height: normal;
        color: $white;
        margin-right: 1.5rem;
        & span {
          font-weight: 700;
        }
      }
    }
    &__link {
      display: inline-flex;
      justify-content: right;
      width: auto;
      color: $white;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &__cost {
      font-family: 'Euclid Circular A';
      font-size: 1.8rem;
      font-weight: 600;
      line-height: normal;
      color: $white;
      margin-bottom: 2.6rem;
      grid-column: 1/3;
      & span {
        color: $yellow;
      }
    }
    &__btns {
      display: flex;
      gap: 1.7rem;
      margin-left: 4rem;
    }
    &__btn {
      width: 6.9rem;
      height: 6.9rem;
      & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__tags {
      width: 88rem;
      font-weight: 400;
      color: $white;
      &-wrap {
        width: 100%;
        display: flex;
        align-items: start;
        grid-column: 1/3;
      }
    }
    &__author {
      width: fit-content;
      text-align: right;
      color: $white;
      margin-left: auto;
      & span {
        font-weight: 700;
      }
    }
		&__content {
      padding: 0 18.9rem;
      &-cover {
        width: 100%;
        height: 68.9rem;
        margin-bottom: 8.4rem;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-img {
        width: 100%;
        height: auto;
        margin-bottom: 8.4rem;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
		}
		&__video-wrap {
      margin-bottom: 8.1rem;
		}
		&__video-text-wrap {
      display: flex;
      margin-bottom: 3.2rem;
		}
		&__video {
      width: 100%;
      & iframe {
        width: 100%;
        height: 66rem;
      }
      &-title {
        color: $white;
        width: fit-content;
        margin-right: 4rem;
        font-family: 'Euclid Circular A';
        font-size: 3.5rem;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
      &-text {
        width: 30.2rem;
        color: $white;
      }
		}
}

@media (max-width: 48em) {
  .project-page {
    padding-top: 8rem;
    padding-bottom: 7rem;
      &__top {
        margin-bottom: 7rem;
        row-gap: 4rem;
      }
      &__text-wrap {
        margin-bottom: 1.2rem;
        grid-column: 1/3;
        width: 100%;
        & p {
          margin-right: 5rem;
        }
      }
      &__link {
        grid-row: 2;
        grid-column: 2;
        font-size: 3rem;
      }
      &__cost {
        font-size: 3rem;
        font-weight: 600;
        line-height: 2.5rem;
        margin-bottom: 0;
        margin-top: 0;
        grid-row: 2;
        grid-column: 1;
      }
      &__btns {
        display: flex;
        gap: 2rem;
        margin-left: auto;
      }
      &__btn {
        width: 8.2rem;
        height: 8.2rem;
      }
      &__tags {
        width: 100%;
        font-size: 3rem;
        line-height: 2.5rem;
        color: $white;
        line-height: normal;
        &-wrap {
          width: 100%;
          gap: 4rem;
          flex-direction: column-reverse;
        }
      }
      &__author {
        text-align: left;
        font-size: 3rem;
        margin-left: 0;
      }
      &__content {
        padding: 0;
        &-cover {
          width: 100%;
          height: 40.4rem;
          margin-bottom: 10.6rem;
        }
        &-img {
          margin-bottom: 7rem;
        }
      }
      &__video-wrap {
        margin-bottom: 7rem;
      }
      &__video-text-wrap {
        align-items: center;
        margin-bottom: 6.6rem;
        justify-content: space-between;
      }
      &__video {
        & iframe {
          height: 38.6rem;
        }
        &-title {
          margin-right: 0rem;
          font-size: 4rem;
        }
        &-text {
          width: 29.8rem;
          font-size: 2.4rem;
        }
      }

      &__order-btn {
        position: fixed;
        left: 13.8rem;
        bottom: 6rem;
        width: 50.4rem;
        height: 10.8rem;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15.8rem;
        cursor: pointer;
        z-index: 10;

        p {
          width: 40.6rem;
          text-align: center;
          font-size: 3rem;
          line-height: 5rem; /* 166.667% */

          span {
            font-weight: 700;
          }
        }
      }
  }
}