.statia {
  & + .projects-list {
    padding-top: 0;
  }

  margin-bottom: 16rem;
  &__inner {
    width: 117.7rem;
  }
		&__text-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;
		}
		&__link {
      color: $black;
		}
    &__date {
      color: $black;
    }
		&__title {
      font-family: 'Euclid Circular A';
      font-size: 3rem;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 6rem;
		}
		&__content-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-bottom: 16rem;
		}
		&__img {
      width: 100%;
      height: 51.7rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
		}
		&__subtitle {
      color: $black;
		}
		&__text {
      color: $black
      & a {
        font-weight: 600;
      }
		}
		&__list {
      & li {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin-bottom: 2rem;
        &::before {
          content: '';
          display: inline-block;
          width: 1rem;
          height: 1rem;
          background-color: $black;
          border-radius: 50%;
        }
        &:last-child {
          margin-bottom: 0;
        }
        & span {
          width: 95%;
        }
      }
		}
		&__quote {
      position: relative;
      width: 100%;
      padding-left: 4rem;
      border-left: 0.4rem solid $black;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0.5rem;
        display: block;
        width: 100%;
        height: 100%;
        border-left: 0.1rem solid $black;
      }
      & .statia__subtitle {
        margin-bottom: 2rem;
      }
		}
		&__share {
      &-text {
        margin-bottom: 3.4rem;
      }
		}
    &-aside {
      &.hide {
        transform: translateX(-105%);
        transition: transform 0.3s ease-in-out;
      }
      position: fixed;
      z-index: 200;
      top: calc(100% - 26.3rem);
      left: 0;
      &__content {
        position: relative;
        width: 53rem;
        padding: 4rem;
        background-color: $black;
        overflow: hidden;
      } 
      &__title {
        color: $white;
        width: 28.6rem;
        margin-bottom: 3.5rem;
      }
      &__btn {
        color: $white;
        span {
          color: $white;
        }
      }
      &__img {
        position: absolute;
        top: 1.4rem;
        right: -11.4rem;
        width: 36.2rem;
        mix-blend-mode: lighten;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__close {
        position: absolute;
        top: -2.4rem;
        right: -2.4rem;
        width: 4.8rem;
        height: 4.8rem;
        cursor: pointer;
        & svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &.modal {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        z-index: 500;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
        &.active {
          opacity: 1;
          .statia-aside__content {
            transform: translateY(0);
          }
        }
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(0, 0, 0, 0.50);
        }
        .statia-aside {
          &__content {
            z-index: 1;
            width: 102.8rem;
            padding: 8.5rem 6rem 6rem;
            transform: translateY(-5%);
            transition: transform 0.3s;
          }
          &__title {
            width: 41.1rem;
            font-size: 3rem;
            margin-bottom: 5.5rem;
          }
          &__top {
            display: flex;
            gap: 1.7rem;
            align-items: center;
            margin-bottom: 2.4rem;
            &-icon {
              width: 4rem;
              height: 3.6rem;
              & svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            & p {
              width: 23.2rem;
              color: $gray;
            }
          }
          &__img {
            z-index: -1;
            width: 95.2rem;
            top: -30rem;
            right: -17rem;
            transform: rotate(197deg);
            mix-blend-mode: normal;
          }
          &__close {
            top: 2rem;
            right: 2rem;
          }
        }
      }
  } 
}
@media (max-width: 48em) {
  .statia {
    margin-bottom: 22rem;
    &__inner {
      width: 100%;
    }
      &__text-wrap {
        flex-direction: column-reverse;
        gap: 15rem;
        margin-bottom: 12rem;
      }
      &__title {
        position: absolute;
        top: 38.6rem;
        font-size: 4rem;
        margin-bottom: 0;
      }
      &__content-wrap {
        gap: 7rem;
        margin-bottom: 22rem;
      }
      &__img {
        width: 100%;
        height: 42.2rem;
      }
      &__list {
        & li {
          margin-bottom: 3rem;
          &::before {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
          }
        }
      }
      &__quote {
        position: relative;
        width: 100%;
        padding-left: 6rem;
        border-left: 0.8rem solid $black;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 1rem;
          border-left: 0.2rem solid $black;
        }
        & .statia__subtitle {
          margin-bottom: 4rem;
        }
      }
      &__share {
        &-text {
          margin-bottom: 4rem;
        }
        .social__link {
          width: 8.2rem;
          height: 8.2rem;
        }
      }
      &-aside {
        top: 0;
        &.hide {
          transform: translateX(-105%);
          transition: transform 0.3s ease-in-out;
        }
        position: relative;
        margin-bottom: 0rem;
        margin-top: 5rem;
        &__content {
          position: relative;
          width: 100%;
          padding: 8rem 4rem;
        } 
        &__title {
          width: 47.8rem;
          margin-bottom: 7rem;
        }
        &__img {
          position: absolute;
          top: 8.8rem;
          right: -24.4rem;
          width: 56.4rem;
        }
        &__close {
          position: absolute;
          top: 2rem;
          right: 2rem;
          width: 10.8rem;
          height: 10.8rem;
          & svg  {
            & circle {
            display: none;
            }
            & path {
              fill: $white;
            }
          }
        }
        &.modal {
          position: relative;
          opacity: 1;
          &::after {
            content: none;
          }
          .statia-aside {
            &__content {
              width: 100%;
              padding: 52.8rem 4rem 8rem;
            }
            &__title {
              width: 57.2rem;
              margin-bottom: 7rem;
            }
            &__top {
              gap: 4rem;
              margin-bottom: 4.8rem;
              &-icon {
                width: 6.8rem;
                height: 6.2rem;
              }
              & p {
                width: 38.2rem;
              }
            }
            &__img {
              z-index: -1;
              width: 162.8rem;
              top: -48rem;
              right: -18rem;
              transform: rotate(160deg);
            }
            &__close {
              top: 8rem;
              right: 4rem;
              width: 8.6rem;
              height: 8.6rem;
              & svg  {
                & circle {
                display: block;
                }
                & path {
                  fill: $black;
                }
              }
            }
          }
        }
    } 
  }
}
