@import "./scss/fonts";
@import "./scss/libs/set";
@import './scss/components';
@import "./scss/components/header";
@import "./scss/style";
@import "./scss/monsters";

@import './scss/components/page-descr';
@import './scss/components/author-descr';
@import './scss/components/filtres';
@import './scss/components/posts';
@import "./scss/components/project-page";
@import "./scss/components/statia";
@import "./scss/components/basket";
@import './scss/components/lk-tabs';
@import './scss/components/lk-blocks';
@import './scss/components/lk-edit';
@import './scss/components/projects-list';
