@import "./components/baner";
@import './components/monetize';
@import './components/advertising';
@import './components/footer';
@import './pages/adding';
@import './pages/send';
@import './components/modal';