.btn-link {
	display: flex;
	font-family: 'Euclid Circular A';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: normal;
	color: #fff;
	&__arr {
		width: 1.8rem;
		height: 1.3rem;
		margin-left: 1.4rem;
		& svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.mobile {
	display: none;
}
@media (max-width: 48em) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}

	.btn-link {
		font-size: 3rem;
		&__arr {
			width: 2.4rem;
			height: 1.8rem;
			margin-left: 3rem;
		}
	}
}