main {
	section:first-child {
		margin-top: -23rem;
		padding-top: 22.4rem;
	}
}
body {
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}
@media (max-width: 48em) {
	main {
		section:first-child {
			margin-top: -12rem;
			padding-top: 32.4rem;
		}
	}
}
.text {
	font-family: 'Euclid Circular A';
	font-size: 1.8rem;
	font-weight: 300;
	line-height: normal;
}

.subtitle {
	font-family: 'Euclid Circular A';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.btn-link {
	&__arr {
		width: 1.8rem;
		height: 1.3rem;
		& svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.social {
  &__links {
    display: flex;
    gap: 2.5rem;
  }
  &__link {
    width: 4.8rem;
    height: 4.8rem;
    & svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.mobile {
	display: none;
}
@media (max-width: 48em) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}

	.btn-link {
		&__arr {
			width: 2.4rem;
			height: 1.8rem;
		}
	}

	.text {
		font-size: 3rem;
	}
	
	.subtitle {
		font-size: 3rem;
	}
}