
main {
	section:first-child {
		margin-top: -23rem;
		padding-top: 22.4rem;
	}
}

.mobile {
	display: none;
}
@media (max-width: 48em) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}